* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000;
  --white: #fff;
}
body {
  font-family: "Sora", sans-serif;
}

#main-header {
  width: 100%;
  display: flex;
  background-color: var(--black);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: sticky;
  z-index: 1;
}

.header-content {
  display: flex;
  margin: 0 120px 0 120px;
  padding: 18px;
  align-items: center;
}

.input-container {
  margin-left: 120px;
  display: flex;
  border: 1px solid var(--white);
  border-radius: 5px;
}
.search-icon {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 4px;
}

.input-container {
  width: 386px;
}

.input-container input {
  background: url("icon/search-icon.svg");
  height: 32px;
  outline: none;
  border: none;
  background: none;
  display: flex;
  padding: 4px 8px 4px 15px;
  align-items: center;
  gap: 14px;
  color: var(--white);
  width: 100%;
}

.input-container input::placeholder {
  color: var(--white);
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.side-buttons {
  display: flex;
  width: 230px;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  gap: 75px;
}

.side-buttons button {
  background: none;
  border: none;
  cursor: pointer;
}

#main-header img {
  display: flex;
  align-items: center;
}

#subheader {
  display: flex;
  width: 1440px;
  height: 60px;
  padding: 0px 120px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: white;
}

/* NAVEGAÇÃO */

#subheader {
  width: 100%;
}
#subheader nav ul {
  display: flex;
  gap: 60px;
}
#subheader nav ul li a {
  color: var(--black);
  text-decoration: none;
}

.banner-content {
  display: flex;
  align-items: center;
  background: url("imagens/banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 540px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.banner-text {
  display: flex;
  width: 386px;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
  margin-left: 120px;
}

.banner-text h1 {
  color: var(--black);
  font-family: Jomhuria;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 75% */
}

.banner-text p {
  color: var(--black);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-text button {
  display: flex;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 220px;
  padding: 20px 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: var(--black);
  border: none;
  color: var(--white);
  white-space: nowrap;
  text-align: center;
}

.banner-text button img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.banner-text button:hover {
  background: var(--white);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.banner-text button:hover img {
  filter: invert(1);
  transition: all 0.3s ease-in-out;
}
