* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000;
  --white: #fff;
  --stroke-card-color: #f5eded;
}
body {
  font-family: "Sora", sans-serif;
}

#main-header {
  width: 100%;
  display: flex;
  background-color: var(--black);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: sticky;
  z-index: 1;
  justify-content: center;
}

.header-content {
  display: flex;
  padding: 18px 120px;
  align-items: center;
}

.input-container {
  margin-left: 120px;
  display: flex;
  border: 1px solid var(--white);
  border-radius: 5px;
}
.search-icon {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 4px;
}

.input-container {
  width: 386px;
}

.input-container input {
  background: url("icon/search-icon.svg");
  height: 32px;
  outline: none;
  border: none;
  background: none;
  display: flex;
  padding: 4px 8px 4px 15px;
  align-items: center;
  gap: 14px;
  color: var(--white);
  width: 100%;
}

.input-container input::placeholder {
  color: var(--white);
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.side-buttons {
  display: flex;
  width: 330px;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  gap: 75px;
}

.side-buttons button {
  background: none;
  border: none;
  cursor: pointer;
}

#main-header img {
  display: flex;
  align-items: center;
}

#subheader {
  display: flex;
  width: 1440px;
  height: 60px;
  padding: 0px 120px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: white;
}

/* NAVEGAÇÃO */

#subheader {
  width: 100%;
}
#subheader nav ul {
  display: flex;
  gap: 60px;
}
#subheader nav ul li a {
  color: var(--black);
  text-decoration: none;
}

#subheader nav ul li a:hover {
  color: var(--black);
  text-decoration: underline;
  text-decoration-color: var(--black);
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 12.5%; /* 2px */
  text-underline-offset: 22%; /* 3.52px */
  text-underline-position: from-font;
}

.banner-content {
  display: flex;
  align-items: center;
  background: url("imagens/banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 540px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.banner-text {
  display: flex;
  width: 386px;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
  margin-left: 120px;
}

.banner-text h1 {
  color: var(--black);
  font-family: Jomhuria;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 75% */
}

.banner-text p {
  color: var(--black);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-text button {
  display: flex;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 220px;
  padding: 20px 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: var(--black);
  border: none;
  color: var(--white);
  white-space: nowrap;
  text-align: center;
}

.banner-text button img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.banner-text button:hover {
  background: var(--white);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.banner-text button:hover img {
  filter: invert(1);
  transition: all 0.3s ease-in-out;
}

/* Recomendados */
#recomendados {
  width: 1202px;
  height: fit-content;
  margin-top: 40px;
}

#recomendados h2 {
  margin-left: 120px;
  color: var(--black);

  font-family: Jomhuria;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.recomendados-content {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 320px);
  grid-column-gap: 20px;
  grid-row-gap: 60px;
  margin-left: 120px;
}

.card1 {
  grid-area: 1 / 1 / 2 / 2;
}
.card2 {
  grid-area: 1 / 2 / 2 / 3;
}
.card3 {
  grid-area: 1 / 3 / 2 / 4;
}
.card4 {
  grid-area: 1 / 4 / 2 / 5;
}
.card5 {
  grid-area: 2 / 1 / 3 / 2;
}
.card6 {
  grid-area: 2 / 2 / 3 / 3;
}
.card7 {
  grid-area: 2 / 3 / 3 / 4;
}
.card8 {
  grid-area: 2 / 4 / 3 / 5;
}

/* Carrinho lateral */
#cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 460px;
  height: 100%;
  background-color: #fff;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 15px 0 0 15px;
}

#cart-sidebar.cart-visible {
  transform: translateX(0);
}

.cart-header {
  color: #000;
  font-family: Jomhuria;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: var(--black);
}

.cart-header button {
  background: none;
  border: none;
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
}

.cart-items {
  flex: 1;
  padding: 16px;
  list-style: none;
  overflow-y: auto;
}

.cart-items li {
  margin-bottom: 8px;
}

.cart-footer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--stroke-card-color, #f5eded);
  gap: 25px;
}

.cart-footer p {
  padding: 24px;
  font-family: "Jomhuria", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  margin: 0;
  white-space: nowrap;
}

.cart-footer button {
  background: var(--black);
  border: none;
  color: var(--white);
  display: flex;
  width: 230px;
  height: 79px;
  justify-content: center;
  align-items: center;
  font-family: "Jomhuria", sans-serif;
  font-size: 48px;
  cursor: pointer;
  padding: 0;
  line-height: 48px;
}

.cart-footer button:hover {
  background-color: var(--white);
  color: var(--black);
}
